apiVersion: v1
kind: Secret
metadata:
  name: shared-mysql-service-broker-secret
  namespace: osb
type: Opaque
data:
  mysql-jdbc-url: amRiYzpteXNxbDovL215c3FsLmV4YW1wbGUuY29tOjMzMDYvbXlzcWxfc2VydmljZV9icm9rZXI= # echo -n jdbc:mysql://mysql.example.com:3306/mysql_service_broker | base64
  mysql-username: cm9vdA== # echo -n root | base64
  mysql-password: cGFzc3dvcmQ= # echo -n password | base64
  username: YWRtaW4= # echo -n admin | base64
  password: cGFzc3dvcmQ= # echo -n password | base64